
body {
	background-image: url("nebula.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


h1 {
	color: #ff0066;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	text-align: center;
	font-weight: bold;

}




h2 {
	color: pink;
	font-family: 'Oswald', sans-serif;
	text-align: center;

}

h3 {
		color: red;
		font-size: 15px;
		font-family: 'Oswald', sans-serif;
		transitionext-align: center;
}


.resultsbox {
	box-sizing: border-box;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
	

}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	box-sizing: border-box;

	
}

form {
	margin: 0 auto;
	text-align: center;
}

button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 0.5px;
    cursor: pointer;
}


p {
	font-size: 30px;
	color: #4B0082;
	text-align: center;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}


/* MEDIA QUERIES */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {




	p {
		font-size: 15px;
	

	}

	body {
		background-image: url("nebula.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	h1,  {
		font-size: 35px;
		color: #ff0066;
		font-family: 'Oswald', sans-serif;
		text-align: center;

	}

	h2 {
		color: pink;
		font-size: 20px;
		font-family: 'Oswald', sans-serif;
		transitionext-align: center;
	}

	h3 {
		color: red;
		font-size: 10px;
		font-family: 'Oswald', sans-serif;
		transitionext-align: center;

	}

	img {
		box-sizing: border-box;
	}

	.resultsbox {
		padding-left: 40px;
		padding-right: 40px;
		background:rgba(255,255,255,0.5);
	}


}