
body {
	background-image: url("http://www.public-domain-image.com/free-images/space/orion-nebula-space-galaxy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


h1 {
	color: #ff0066;
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	text-align: center;
	font-weight: bold;

}




h2 {
	color: pink;
	font-family: 'Oswald', sans-serif;
	text-align: center;

}

.resultsbox {
	box-sizing: border-box;
	padding-left: 75px;
	padding-right: 75px;
	
}

form {
	margin: 0 auto;
	text-align: center;
}

button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 0.5px;
    cursor: pointer;
}


p {
	font-size: 45px;
	color: #cc66ff;
	text-align: center;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;

}


/* MEDIA QUERIES */

@media screen and (max-width: 400px){

h1 {
	color: pink;
}

p {
	font-size: 15px;
}

}
body {
	background-repeat: repeat;
}

h1, h2 {
	font-size: 20px;
}



}